wpfl_tooltip_show {
  display:none;
}
.wpfl .code {
  background: #F1F1F1;
  padding: 5px;
  font-family: monospace;
}
.wpfl ul.acceptedValues {
  padding-left: 30px;
  list-style: disc;
}
.wpfl.contentArea {
  max-width: 800px;
}
.wpfl form#wp_function_links_settings fieldset {
  display: block;
  margin: 10px 0;
}
.wpfl .clearfix {
  display:block;
  clear:both;
}
.wpfl .tabLabels ul li {
  float: left;
  background: #F5F5F5;
  padding: 10px;
  border: solid 1px #dbdbdb;
  border-bottom: none;
  margin: 0;
}
.wpfl .tabLabels ul li.active {
  background: #fff;
}
.wpfl .tabLabels ul li:hover {
  cursor: pointer;
}
.wpfl .tabConents {
  background: #fff;
  padding: 20px;
  border-top: solid 1px #dbdbdb;
}

.wpfl .col-6 {
  float: left;
  width: 50%;
  box-sizing: border-box;
}
.wpfl .clearfloat {
  display: block;
  height: 0;
  clear: both;
}

.wpfl .tabBlock-pane section.basicCustomStyles {
  margin-bottom: 30px;
}

.wpfl .tabBlock-pane section.option_description {
  border-top: solid 1px #dbdbdb;
  margin: 30px 0;
  padding: 0 2%;
}

span.wpfl_tooltip {
  background: rgb(227, 231, 100);
  padding: 0 7px;
  border-radius: 100%;
  cursor: default;
}

span.wpfl_tooltip_show {
  position: absolute;
  background: #222;
  color: #efefef;
  padding: 3px 5px;
  clear: both;
  display: block;
  margin: 5px 0;
  cursor: auto;
  max-width: 300px;
  text-align: center;
}

.wpfl fieldset.custom_link_styles label {
  display: block;
  margin-bottom: 5px;
  color: #939393;
  cursor: default;
}


#customStylesInfo p {
  margin-top: 10px;
  color: #808080;
  font-size: 11px;
}

/* 

*** Tabs Plugin ***

* Original Author: John D Jameson
* Original Code URL: http://codepen.io/johndjameson/pen/ecmlu 

*/

.wpfl .group::after,
.wpfl .tabBlock-tabs::after {
  clear: both;
  content: "";
  display: table;
}

*,
::before,
::after {
  box-sizing: border-box;
}

.wpfl figure.tabBlock {
  margin-top: 5%;
}

.wpfl figure p,figure ol,figure ul {
  margin-bottom: 1.25rem;
  margin-top: 0;
}

.wpfl figure ol,figure ul {
  padding: 0;
  margin-left: 1.25rem;
}

.wpfl .unstyledList, .tabBlock-tabs {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 40px;
}

.wpfl .tabBlock {
  margin: 0 0 2.5rem;
}

.wpfl .tabBlock-tab {
  background-color: #fff;
  border-color: #d8d8d8;
  border-left-style: solid;
  border-top: solid;
  border-width: 2px;
  color: #b5a8c5;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  float: left;
  padding: 0.625rem 1.25rem;
  position: relative;
  -webkit-transition: 0.1s ease-in-out;
          transition: 0.1s ease-in-out;
}
.wpfl .tabBlock-tab:last-of-type {
  border-right-style: solid;
}
.wpfl .tabBlock-tab::before, .tabBlock-tab::after {
  content: "";
  display: block;
  height: 4px;
  position: absolute;
  -webkit-transition: 0.1s ease-in-out;
          transition: 0.1s ease-in-out;
}
.wpfl .tabBlock-tab::before {
  background-color: #b5a8c5;
  left: -2px;
  right: -2px;
  top: -2px;
}
.wpfl .tabBlock-tab::after {
  background-color: transparent;
  bottom: -2px;
  left: 0;
  right: 0;
}
@media screen and (min-width: 700px) {
  .wpfl .tabBlock-tab {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
.wpfl .tabBlock-tab.is-active {
  position: relative;
  color: #975997;
  z-index: 1;
}
.wpfl .tabBlock-tab.is-active::before {
  background-color: #E3E764;
}
.wpfl .tabBlock-tab.is-active::after {
  background-color: #fff;
}

.wpfl .tabBlock-content {
  background-color: #fff;
  border: 2px solid #d8d8d8;
  padding: 1.25rem;
}

.wpfl .tabBlock-pane > :last-child {
  margin-bottom: 0;
}

/* 

*** Tabs Plugin Ends ***

*/


